<%=session['fb_error']%>

<% if session['fb_auth'] %>
  <a href='logout'><img src='images/fb_logout_button.png' alt='Logout from Facebook'></a>
<% else %>
  <a href='auth/facebook'><img src='images/fb_login_button.png' alt='Login to Facebook'></a>
<% end %>

<h3><%= 'Hello, ' + session['fb_auth']['user_info']['first_name'] + ', ' if
session['fb_token'] %>Never miss a birthday.</h3>

