body {
  font-family: Crushed,cursive;
}

div.left {
  font-size: 25px;
  float: left;
  height: 830px;
  width: 250px;
  background-color: #9D538E;
  color: #FFFFFF;
  padding: 10px;
}

div.result {
  border-left: solid 2px black;
  display: inline;
}

div.mon {
  font-size: 70px;
  height: 70px;
  vertical-align: middle;
}

span.mon {
  margin-left: 20px;
  display: inline-block;
  width: 100px; 
}

span.day {
  display: inline-block;
  width: 60px;
  text-align: right;
  padding: 0px;
  margin: 0px;
}

span.match {
  background-color: #9D538E;
  color: #FFFFFF;
}

span.profile {
  font-family: Crushed,cursive;
  vertical-align: middle;
  margin: 0px;
}

a.lurl {
  color: #FFFFFF;
  background-color: #34ACAF;
  padding: 6px;
  text-decoration: none;
}
