
body {
}

div.mon {
  font-family: Crushed,cursive;
  font-size: 70px;
  height: 70px;
  vertical-align: middle;
}

span.mon {
  margin-left: 20px;
  display: inline-block;
  width: 100px; 
}

span.day {
  display: inline-block;
  width: 60px;
  text-align: right;
  padding: 0px;
  margin: 0px;
}

span.match {
  color: #FF0000;
}

span.profile {
  font-family: Crushed,cursive;
  vertical-align: middle;
  margin: 0px;
}
